/* BackUP CSS */
#container{
    width: 1500px;
    height: 900px;
    background-color: #011627;
    margin: 0px auto;
    padding: 10px;
}
.logout{
    display: block;
    float: right;
    text-decoration: none;
    margin: 0px 5px;
    color: cornsilk;
}
.edit_pro{
    display: block;
    float: right;
    text-decoration: none;
    margin: 0px 5px;
    color: cornsilk;
}

.dashboard{
    display: block;
    float: right;
    text-decoration: none;
    margin: 0px 5px;
    color: cornsilk;

}

/* Inside the Main */

#main_content{
    display: block;
    width: 1350px;
    height: 810px;
    background-image: url('https://images.pexels.com/photos/1422220/pexels-photo-1422220.jpeg?cs=srgb&dl=nine-black-and-gray-cameras-1422220.jpg&fm=jpg');
    background-size: cover;
    padding: 15px;
    margin: 25px auto;
    border: 2px solid black;
}

.user_collection{
    display: inline-block;
    position: absolute;
    vertical-align: top;
    width: 350px;
    height: 800px;
    border: 1px solid black;
    text-align: center;
    font-family: fantasy;
    padding: 5px;
}

.mine{
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 800px;
    border: 1px solid black;
    text-align: center;
    font-family: fantasy;
    padding: 5px;
    margin-left: 380px;
}

.user_bio{
    display: block;
    width: 550px;
    height: 800px;
    border: 1px solid black;
    float: right;
    padding: 5px;   
}

.user_bio h1{
    text-align: right;
    font-family: fantasy;
    margin-top: 5px;
}

/* Main Content */

#posts{
    display: block;
    width: 335px;
    min-height: 700px;
    max-height: 700px;
    border: 1px solid black;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(1,22,38,1) 0%, rgba(255,255,255,1) 100%);
    margin: 0px auto;
}

#view_all{
    display: block;
    width: 325px;
    height: 15px;
    padding: 5px;
    margin: 0px auto;
    margin-top: 4px;
    background: radial-gradient(circle, rgba(88,89,91,1) 0%, rgba(0,0,0,1) 100%);
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    font-family: fantasy;
    text-align: center;
    color: cornsilk;
}

#myposts{
    display: block;
    width: 335px;
    min-height: 700px;
    max-height: 700px;
    border: 1px solid black;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(1,22,38,1) 0%, rgba(255,255,255,1) 100%);
    margin: 0px auto;
    overflow-y: auto;
}

#view_my{
    display: block;
    width: 325px;
    height: 15px;
    padding: 5px;
    margin: 0px auto;
    margin-top: 4px;
    background: radial-gradient(circle, rgba(88,89,91,1) 0%, rgba(0,0,0,1) 100%);
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    font-family: fantasy;
    text-align: center;
    color: cornsilk;
}

/* Uploads */

.post_box{
    display: block;
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    border: 1px solid black;
    text-align: center;
    margin: 0px auto;
}

#one_post{
    display: block;
    min-width: 290px;
    max-width: 290px;
    min-height: 290px;
    max-height: 290px;
    border: 1px solid black;
    margin: 0px auto;
}

.upload_box{
    display: block;
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    border: 1px solid black;
    text-align: center;
    margin: 0px auto;
}

#profile_imgs{
    width: 75%;
    height: auto;
    text-align: center;
    border: 1px solid black;
    margin: 0px auto;
}

.defaultIMG{
    display: inline-block;;
    width: 550px;
    height: 200px;
    border: 1px solid black;
    /* background: linear-gradient(270deg, rgba(0,0,0,1) 0%, rgba(10,112,14,1) 100%);
    background-image: url('https://images.pexels.com/photos/3625373/pexels-photo-3625373.jpeg?cs=srgb&dl=colorful-sorbet-3625373.jpg&fm=jpg');
    background-size: cover; */
    vertical-align: top;
    margin-top: 10px;
    margin-left: 90px;
}

#img{
    display: block;
    width: 140px;
    height: 140px;
    border: 1px solid black;
    float: right;
    position: relative;
    top: 50px;
    left: 90px;
}