#container{
    width: 1500px;
    height: 900px;
    background-color: grey;
    margin: 0px auto;
    padding: 10px;

}
.logout{
    display: block;
    float: right;
    text-decoration: none;
    margin: 0px 5px;
}
.edit_pro{
    display: block;
    float: right;
    text-decoration: none;
    margin: 0px 5px;
}

/* Inside the Main */

#main_content{
    display: block;
    width: 1350px;
    height: 800px;
    padding: 15px;
    margin: 25px auto;
    border: 2px solid black;
}

.dashboard{
    display: block;
    float: right;
    text-decoration: none;
    margin: 0px 5px;

}

/* .dashboard{
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 800px;
    background-color: indianred;
    border: 1px solid black;
    text-align: center;
} */ 

.user_collection{
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 800px;
    background-color: indianred;
    border: 1px solid black;
    text-align: center;
    
}

#posts{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    min-height: 660px;
    background-color: rgb(78, 49, 49);
    border: 1px solid black;
    text-align: center;
    
}

.mine{
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 800px;
    background-color: indianred;
    border: 1px solid black;
    text-align: center;
    
}

#myposts{
    display: inline-block;
    vertical-align: top;
    width: 300px;
    min-height: 660px;
    background-color: rgb(78, 49, 49);
    border: 1px solid black;
    text-align: center;
    
}

.user_bio{
    display: inline-block;
    vertical-align: top;
    position: absolute;
    width: 600px;
    min-height: 300px;
    background-color: indianred;
    border: 1px solid black;
    padding: 0px 10px;
    margin-left: 20px;
    
}

.user_bio h1{
    text-align: left;
}


/* Buttons */

#view_all{
    display: block;
    margin: 17px auto;
    width: 150px;
    height: 20px;
    padding: 10px;
    background-color: chartreuse;
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
}

#view_my{
    display: block;
    margin: 17px auto;
    width: 150px;
    height: 20px;
    padding: 10px;
    background-color: chartreuse;
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
}

/* Image Uploader */

#img_uploader{
    display: block;
}
