.mainImg {
    max-width: 65%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.textAreaSize {
    margin-left:auto;
    margin-right:auto;
    max-width: 40%;
}

.contentContainer{
    margin-top: 1%;
}

.commentSection{
    margin-left:auto;
    margin-right:auto;
    max-width: 40%;
    margin-top: 3%;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 3px;
    border-style: solid;
    border-image: 
        linear-gradient(
        to bottom, 
        black, 
        rgba(0, 0, 0, 0)
        ) 1 100%;
}