#container{
    /* width: 1500px; */
    height: 900px;
    background-color: #011627;
    margin: 0px auto;
    padding: 10px;
}
.logout{
    display: block;
    float: right;
    text-decoration: none;
    margin: 0px 5px;
    color: cornsilk;
}
.edit_pro{
    display: block;
    float: right;
    text-decoration: none;
    margin: 0px 5px;
    color: cornsilk;
}

.dashboard{
    display: block;
    float: right;
    text-decoration: none;
    margin: 0px 5px;
    color: cornsilk;

}

/* Inside the Main */

#main_content{
    display: block;
    width: 1350px;
    height: 810px;
    background-image: url('https://images.pexels.com/photos/1422220/pexels-photo-1422220.jpeg?cs=srgb&dl=nine-black-and-gray-cameras-1422220.jpg&fm=jpg');
    background-size: cover;
    padding: 15px;
    margin: 25px auto;
    border: 2px solid black;
}

.user_collection{
    display: inline-block;
    position: absolute;
    vertical-align: top;
    width: 350px;
    height: 780px;
    border: 1px solid black;
    text-align: center;
    font-family: fantasy;
    padding: 5px;
}

.mine{
    display: inline-block;
    vertical-align: top;
    width: 350px;
    height: 780px;
    border: 1px solid black;
    text-align: center;
    font-family: fantasy;
    padding: 5px;
    margin-left: 380px;
}

.user_bio{
    display: block;
    width: 550px;
    height: 780px;
    border: 1px solid black;
    float: right;
    padding: 5px;   
}

.user_bio h1{
    text-align: right;
    font-family: fantasy;
    margin-top: 15px;
    margin-right: 15px;
}

#about_me{
    display: block;
    width: 510px;
    height: 300px;
    border: 1px solid black;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(1,22,38,1) 0%, rgba(255,255,255,1) 100%);
    margin: 0px auto;
    margin-top: 20px;
    padding: 10px;
}

.bioHeader{
    text-align: center;
    font-family: fantasy;
    color: cornsilk;
}

.bioBody{
    text-align: center;
    color: cornsilk;
}
/* Main Content */

#posts{
    display: block;
    width: 335px;
    min-height: 670px;
    max-height: 670px;
    border: 1px solid black;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(1,22,38,1) 0%, rgba(255,255,255,1) 100%);
    margin: 0px auto;
}

#view_all{
    display: block;
    width: 325px;
    height: 20px;
    padding: 5px;
    margin: 0px auto;
    margin-top: 4px;
    background: radial-gradient(circle, rgba(88,89,91,1) 0%, rgba(0,0,0,1) 100%);
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    font-family: fantasy;
    text-align: center;
    color: cornsilk;
}

#myposts{
    display: block;
    width: 335px;
    min-height: 670px;
    max-height: 670px;
    border: 1px solid black;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(1,22,38,1) 0%, rgba(255,255,255,1) 100%);
    margin: 0px auto;
    overflow-y: auto;
}

#view_my{
    display: block;
    width: 325px;
    height: 20px;
    padding: 5px;
    margin: 0px auto;
    margin-top: 4px;
    background: radial-gradient(circle, rgba(88,89,91,1) 0%, rgba(0,0,0,1) 100%);
    border: 2px solid black;
    border-radius: 20px;
    text-decoration: none;
    font-family: fantasy;
    text-align: center;
    color: cornsilk;
}

/* Uploads */

.post_box{
    display: block;
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    border: 1px solid black;
    text-align: center;
    margin: 0px auto;
}

#one_post{
    display: block;
    min-width: 290px;
    max-width: 290px;
    min-height: 290px;
    max-height: 290px;
    border: 1px solid black;
    margin: 0px auto;
}

.upload_box{
    display: block;
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    border: 1px solid black;
    text-align: center;
    margin: 0px auto;
}

#profile_imgs{
    width: 75%;
    height: auto;
    text-align: center;
    border: 1px solid black;
    margin: 0px auto;
}

#img_uploader{
    display: block;
    width: 500px;
    height: 110px;
    margin: 0px auto;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(1,22,38,1) 0%, rgba(255,255,255,1) 100%);
    border: 1px solid black;
    padding: 15px;
}

#file{
    display: block;
    width: 180px;
    margin: 5px auto;
    color: cornsilk;
}

#desc{
    display: block;
    width: 400px;
    margin: 0px auto;

}

#sub{
    display: block;
    width: 400px;
    height: 30px;
    padding: 5px;
    margin: 0px auto;
    margin-top: 15px;
    background: radial-gradient(circle, rgba(88,89,91,1) 0%, rgba(0,0,0,1) 100%);
    border: 2px solid black;
    border-radius: 20px;
    font-family: fantasy;
    text-align: center;
    color: cornsilk;
}

/* Footer */

#footer{
    display: block;
    margin: 0px auto;
    text-align: center;
    text-decoration: none;
    color: cornsilk;
    position: relative;
    bottom: 25px;
}

#footer p{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: cornsilk;
}

#footer a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: cornsilk;
    margin: 0px 5px;
}

