/* body{
    text-align: center;
    background-color: #011627;
    font-family: sans-serif;
    width: 1000px;
} */


/* p, h1{
    color: cornsilk;
} */


#form{
    text-align: center;
}

#collector{
    background-image: url('../media/images/collector.png ');
    background-size: cover;
    color: white;
    width: 400px;
}

.login{
    display: block;
    width: 400px;
    height: 130px;
    margin: 10px auto;
    position: relative;
    bottom: 120px;
}

.login p{
    color: cornsilk;
}

.register{
    display: block;
    width: 400px;
    height: 240px; 
    margin: 10px auto;
    position: relative;
    bottom: 120px;
}

.register p{
    color: cornsilk;
}

.messages{
    display: block;
    width: 300px;
    height: 40px;
    margin: 0px auto;
    position: relative;
    bottom: 120px;
    color: crimson;
    list-style: none;
}

#container{
    text-align: center;
    height: 820px;
    padding: 100px;
    background-color: #011627;
    font-family: sans-serif; 
}

/* Footer */

#footer{
    display: block;
    margin: 0px auto;
    text-align: center;
    text-decoration: none;
    color: cornsilk;
}

#footer p{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: cornsilk;
    margin: 10px 5px;
}

#footer a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: cornsilk;
    margin: 10px 5px;
}

/* Forgot Password */

.fpassword{
    display: block;
    margin: 0px auto;
    text-align: center;
    color: cornsilk;
    position: relative;
    bottom: 150px;

}

#fpass{
    color: crimson;
    text-decoration: none;
}