/* body{
    text-align: center;
    background-color: #011627;
    font-family: sans-serif;
    width: 1000px;
} */


p, h1{
    color: white;
}


#form{
    text-align: center;
}

#collector{
    background-image: url('../media/images/collector.png ');
    background-size: cover;
    color: white;
    width: 400px;
}

.login{
    padding-bottom: 100px;
    position: relative;
    top: -102px;
}

.register{
    padding-bottom: 50px;
    position: relative;
    top: -115px
}

#container{
    text-align: center;
    height: 820px;
    padding: 100px;
    background-color: #011627;
    font-family: sans-serif; 
}